<div class="totalSumOuter">
  <div class="totalSum">
    <div class="totalsum__element">לסיום:<b>{{ userdata.lastObject.totalUnDone }}</b></div>
    <div class="totalsum__element">הושלמו:<b>{{ userdata.lastObject.totalDone }}</b></div>
    <div class="totalsum__element">סה"כ:<b>{{ userdata.lastObject.totalTasks }}</b></div>
  </div>
</div>